body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
@layer base {
  body{
    @apply bg-gray-100
  }
  h1 {
    @apply text-[30px] font-bold;
		
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
	h4 {
		@apply text-sm;
	}
  a {
    @apply text-blue-200 hover:underline;
  }
}


.hero-img{
  mask-image: linear-gradient(to bottom,rgb(0,0,0,1),rgba(0, 0, 0, 0));
}





.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-button-prev, .swiper-button-next {
  visibility: hidden;
}